<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Account Checker</title>
</head>
<body>
    <div>
        <label>Enter your username:</label><br><br>
        <input type="text" id="user"><br><br>
        <input type="submit" id="submit" value="Submit"><br><br><br>
    </div>
    <div id="error_show">
        <label>ErrorStatus:</label><br><br>
        <label id="ErrorStatus_show">No Error reported.</label><br><br>
    </div>
    <div id="detailShow">
        <label>Username:</label><br><br>
        <label id="Username_show">"N/A"</label><br><br>
        <label>Status:</label><br><br>
        <label id="Status_show">"N/A"</label><br><br>
        <label>Download:</label><br><br>
        <label id="Download_show">"N/A"</label><br><br>
        <label>Upload:</label><br><br>
        <label id="Upload_show">"N/A"</label><br>
        <label>ServiceTraffic:</label><br><br>
        <label id="ServiceTraffic_show">"N/A"</label><br>
        <label>ExpireDate:</label><br><br>
        <label id="ExpireDate_show">"N/A"</label><br>
        <label>UsedTraffic:</label><br><br>
        <label id="UsedTraffic_show">"N/A"</label><br>
        <label>RemainingTraffic:</label><br><br>
        <label id="RemainingTraffic_show">"N/A"</label><br><br>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script>
</html>