<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.min.css') }}">
    <title>Login</title>
</head>
<body>
    <div id="loginContainer">
        <div class="Lheader">
            <span class="d1">Account</span>
            <span class="d2">@</span>
            <span class="d3">$</span>
            <span class="d4">Checker</span>
        </div>
        <input type="text" id="user" placeholder="Enter your username">
        <button id="submit">Submit</button>
        <span id="errorHolder"></span>
    </div>
    <div id="resultContainer">
        <div id="result">
            <div class="Ruser">
                <span>User: </span>
                <span id="Ruser"></span>
            </div>
            <div class="Rtraffic">
                <span>Traffic: </span>
                <span id="Rtraffic"></span>
            </div>
            <div class="Rexp">
                <span>Exp Time: </span>
                <span id="Rexp"></span>
            </div>
            <div class="Rup">
                <span>Upload: </span>
                <span id="Rup"></span>
            </div>
            <div class="Rdown">
                <span>Download: </span>
                <span id="Rdown"></span>
            </div>
        </div>
        <div class="chartContainer">
            <canvas id="chart"></canvas>
        </div>
        <span id="dot" class="dot blink"></span>
    </div> 
    <script type="text/javascript" src="{{ url_for('static', filename = 'chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'script.min.js') }}"></script>
</body>
</html>